{:paths ["src/dev" "src/main"]

 :closure-defines {"goog.DEBUG" false}

 :deps
 {thheller/shadow-cljs    {:mvn/version "2.26.2"}
  binaryage/devtools      {:mvn/version "1.0.7"}
  djblue/portal           {:mvn/version "0.51.0"}
  funcool/promesa         {:mvn/version "11.0.678"}
  medley/medley           {:mvn/version "1.4.0"}
  funcool/cuerdas         {:mvn/version "2023.11.09-407"}
  rum/rum                 {:mvn/version "0.12.11"}
  lambdaisland/fetch      {:mvn/version "1.5.83"}
  ;; run.avelino/logseq-libs {:mvn/version "0.0.17.1"}
  run.avelino/logseq-libs {:local/root "../logseq-libs"}
  com.moclojer/moclojer   {:git/url "https://github.com/moclojer/moclojer.git"
                           :git/tag "v0.3.0"
                           :git/sha "4cc5b09e546a0c414c22e0e3698f97d3dd938492"}}}
